.MainDiv
{
    position: relative;
}

.paragraphetitle
{
    font-family: 'Barlow Semi Condensed', 'FontAwesome', sans-serif;
    font-weight: 500;
    font-size: 5vh;
    text-align: center;
}

.starttext
{
    font-family: 'Barlow Semi Condensed', 'FontAwesome', sans-serif;
    font-weight: 100;
    font-size: 3vh;
    font-style: italic;
    text-align: center; 
    color: rgb(66, 66, 66);
}

.blackline
{
    background-color: rgb(20, 20, 20);
    width: 80%;
    height: 0.35vh;
    position: absolute;
    float: left;
    transform: translate(10%, -750%);
}

.smalltext
{
    font-family: 'Barlow Semi Condensed', 'FontAwesome', sans-serif;
    position: absolute;
    font-size: 2.8vh;
}

.centertext
{
    width: 80%;
    text-align:left;
    transform: translate(10%, 0);
}

.listtext
{
    float: left;
    width: 80%;
    transform: translate(10%, 0);
    color: black;
    line-height: 2vh;
}

.infolistitem
{
    position: relative;
    width: 99%;
    height: 4vh;
    background-color:rgb(225, 225, 225);
    float: left;
    vertical-align: middle;
    transform: translate(0%, 50%);
    line-height: 4vh;
    padding-left: 1%;
    padding-bottom: 0.75%;
    clip-path: inset(0% 0 1vh 0);
}

.superbrdelamorkitu
{
    line-height: 12vh;
}

.imagediv
{
    position: relative;
    left: 0%;
}

.imagediv_image
{
    height: 64.25%;
    width: 50%;
    transform: translate(50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0vh 0.8vh 1.5vh rgb(75, 75, 75);
}